@media (max-width: 768px){
    margin-bottom: 1.5rem;
}
.hero-section {
    background: linear-gradient(135deg, #1f1c2c, #213ca4); /* or any visible background */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px){
    .hero-section h1{
        font-size: 1.8rem;
    }
    .hero-section p{
        font-size: 0.9rem;
    }
    .display-5{
        font-size: 1.8rem;
    }
    #how-it-works .cards-body p.small {
        font-size: 0.8rem;
    }
}