@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
{
    font-family: 'JetBrains Mono', monospace;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.spin-animation{
    animation: spin 1s linear infinite;
}

.invoiceform input:focus,
.invoiceform textarea:focus,
.invoiceform select:focus{
    box-shadow: none !important;
}
